@mixin subtitulos($weight) {
    color: black;
    font-weight: $weight;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Serif', sans-serif;
}

@mixin parrafos() {
    color: black;
    font-family: 'Noto Serif', sans-serif;
    font-size: 25px;
    text-align: center;
}
    
