@mixin subtitulos() {
    font-size: 24px;
    font-weight: bold;
}

@mixin parrafos() {
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    @include subtitulos();
}

p {
    @include parrafos();
}

