@use "../utilities/variables" as *;

.titulosPaginas {
    padding: 50px;
}

.cardContainer {
    position: relative;
    display: block;
    justify-content: center;
    justify-self: center;
    height: 1000px;
    width: 800px;
    margin: 50px;
    background-color: $primary-color;
    
    .careCards {
        display: flex;
        justify-content: space-around;
        height: 333px;
        width: 800px;

        .paperCard {
            display: flex;
            height: 333px;
            width: 800px;
        }
        .cardText {
            position: absolute;
            margin-top: 10%;
            font-size: 30px;
            padding: 10px;
        }
    }

    .careHand {
        display: flex;
        justify-self: center;
        padding-block: 50px;
        margin-inline: 620px;
    }
}






