.videoHome {
    display: flex;
    justify-content: center;
    padding-block: 50px;
    margin-inline: 300px;
}

p {
    color: $textColor1;
    font-family: 'Noto Serif', sans-serif;
    font-size: 25px;
    text-align: center;

    span {
        color: $textColor2;
    }
}

.blockImagenes {
    display: block;
    margin-block: 20px;
    padding: 25px;
    justify-content: space-between;
}

.instaLink {
    color: $textColor2;
}

.instaText {
    padding: 50px;
    margin-top: 50px;
}


