.nombreTexto {
    font-family: 'Maharlika', sans-serif;
    text-decoration: underline;
}

.cajaTrabajos {
    display: block;
    margin-block: 50px;
    padding: 25px;
    justify-content: space-between;
}