h1 {
    color: $text-color-1;
    font-size: 50px;
    text-align:center;
    text-transform: uppercase;
    font-family: 'Maharlika', sans-serif;
}

h2{
    color: $text-color-1;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Serif', sans-serif;
}

.titulosPaginas {
    padding: 50px;
}

#backHome {
    display: flex;
    color: $text-color-1;
    font-size: 30px;
    text-decoration: underline;
    justify-content: center;
    text-transform: uppercase;
    padding: 50px;
}

#backHome:hover {
    text-shadow: 0 0 50px $color-shadow;
    color:$color-shadow;
}